<h1
  style="font-family: cursive; font-size: 40px; padding: 20px;"
  fxLayout
  fxLayoutAlign="center"
>
  UPI
</h1>
<div>
  <mat-card>
    <form  fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submit(f)" #f="ngForm">
      <mat-form-field>
        <input matInput type="text" name="upi" ngModel placeholder="Enter the UPI id" required>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="back()" >Back</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
          Verify
          </button>
        </mat-card-actions>

      </form>
    </mat-card>
  </div>
