body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-color:  rgb(50, 135, 245);
  color: white;
  height: 100%;
}
.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: yellow;
}
