<div fxHide.lt-md>
  <div fxLayoutAlign="center">
    <mat-card>
      <mat-card-content>
        <img style="width: 40px; height: 40px;" src="assets\card.png" />
        <form (ngSubmit)="onsubmit(f)" #f="ngForm">
          <label for="cvv">CARD NUMBER</label><br /><br />
          <input
            type="text"
            id="card"
            name="card"
            placeholder="XXXX XXXX XXXX XXXX"
            required
            maxlength="16"
          /><br /><br />
          <div fxLayout fxLayoutAlign="center" fxLayoutGap="30PX">
            <section>
              <label for="cvv">EXPIRES</label><br /><br />
              <input type="text" id="exp" name="exp" placeholder="MM/YY" required maxlength="4"/>
            </section>

            <br /><br />
            <section>
              <label for="cvv">CVV</label><br /><br />
              <input type="text" id="cvv" name="cvv" placeholder="XXX" required maxlength="3" />
            </section>

            <br /><br />
          </div>
           <div style="padding-top: 30px;" fxLayoutAlign="center">
    <button type="submit">PAY</button>
  </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

</div>
<div fxHide.gt-md>
  <div fxLayoutAlign="center">
    <mat-card class="mob">
      <mat-card-content>
        <img style="width: 40px; height: 40px;" src="assets\card.png" />
        <form (ngSubmit)="onsubmit(f)" #f="ngForm">
          <label for="cvv">CARD NUMBER</label><br /><br />
          <input
            type="text"
            id="card"
            name="card"
            placeholder="XXXX XXXX XXXX XXXX"
            required
            maxlength="16"
          /><br /><br />
          <div fxLayout fxLayoutAlign="center" fxLayoutGap="10PX">
            <section>
              <label for="cvv">EXPIRES</label><br /><br />
              <input
                type="text"
                id="exp"
                name="exp"
                required
                placeholder="MM/YY"
                maxlength="4"
              />
            </section>

            <br /><br />
            <section>
              <label for="cvv">CVV</label><br /><br />
              <input
                type="text"
                id="cvv"
                name="cvv"
                required
                placeholder="XXX"
                maxlength="3"
              />
            </section>

            <br /><br />
          </div>
          <br>
            <button class="mobbutton" type="submit">PAY</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="padding-top: 30px;" fxLayoutAlign="center">

  </div>
</div>
