<h1
  style="font-family: cursive; font-size: 40px; padding: 20px;"
  fxLayout
  fxLayoutAlign="center"
>
  Net Banking
</h1>
<div>
  <mat-card>
    <mat-card-content>
      <form
        (ngSubmit)="submit(f)"
        #f="ngForm"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            name="bank"
            placeholder="Enter the Bank Name"
            required
            minlength="4"
            ngModel
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            name="username"
            placeholder="Enter the Username"
            maxlength="15"
            required
            ngModel
          />
          <mat-error>Please Enter the Valid User Name </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            name="password"
            placeholder="Enter the Password"
            required
            ngModel
          />
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="back()">
            Back
          </button>
          <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="f.invalid"
          >
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
