<h1
  style="font-family: cursive; font-size: 40px; padding: 20px;"
  fxLayout
  fxLayoutAlign="center"
>
  Payment Methods
</h1>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-card>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onsubmit(f)" #f="ngForm">
        <mat-form-field>
  <mat-label>Choose the payment method</mat-label>
  <mat-select  ngModel name="option" ngModel>
    <mat-option *ngFor="let op of paymentoption" value="{{op.value}}">
      {{op.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Continue</button>
          </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
