<div fxLayout fxLayoutAlign="center" style="padding: 20px; font-size: 30px; font-family: cursive;">
  Payment Option
</div>

<div fxHide.lt-md>
  <div  fxLayoutAlign="center" fxLayoutGap="50px">
    <section>
      <mat-card style="background-color: rgb(45, 155, 245);" (click)="upi()">
        <mat-card-content>
          <img
            src="assets/google.png"
            style="width: 40px; height: 40px; border-radius: 10px;"
          /><br /><br />
          Googlepay
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card style="background-color: rgb(99, 39, 167);" (click)="upi()">
        <mat-card-content>
          <img
            src=" \assets\phonepe.png"
            style="width: 40px; height: 40px; border-radius: 10px;"
          /><br /><br />
          Phonepe
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card style="background-color: darkblue;" (click)="upi()">
        <mat-card-content>
          <img
            src="\assets\paytm.jpg"
            style="width: 40px; height: 40px; border-radius: 10px;"
          /><br /><br />
          Paytm
        </mat-card-content>
      </mat-card>
    </section>
  </div>
  <div style="padding-top: 30px;padding-left: 10px;" fxLayoutGap="50px">
    <section>
      <mat-card style="background-color: rgb(255, 102, 0);" (click)="oncard()">
        <mat-card-content>
          <img
            src="\assets\card.png "
            style="width: 40px; height: 40px; border-radius: 10px;"
          /><br /><br />
          Card
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</div>

<div style="padding:8%"  fxHide.gt-md>
  <div fxLayout  fxLayoutAlign="center" fxLayoutGap="20px">
    <section>
      <mat-card class="mob" style="background-color: rgb(45, 155, 245);"(click)="upi()">
        <mat-card-content>
          <img
            src="assets/google.png"
            style="width: 40px; height: 40px; border-radius: 10px;"
          /><br /><br />
          Googlepay
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card class="mob" style="background-color: rgb(99, 39, 167);" (click)="upi()">
        <mat-card-content>
          <img
            src=" \assets\phonepe.png"
            style="width: 40px; height: 40px; border-radius: 10px;"
          /><br /><br />
          Phonepe
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card class="mob" style="background-color: darkblue;" (click)="upi()">
        <mat-card-content>
          <img
            src="\assets\paytm.jpg"
            style="width: 40px; height: 40px; border-radius: 10px;"
          /><br /><br />
          Paytm
        </mat-card-content>
      </mat-card>
    </section>
  </div>
  <div style="padding-top: 20px;" fxLayout fxLayoutGap="10px">
    <section>
      <mat-card class="mob" style="background-color: rgb(255, 102, 0);" (click)="oncard()">
        <mat-card-content>
          <img
            src="\assets\card.png "
            style="width: 40px; height: 40px; border-radius: 10px;"
          /><br /><br />
          Card
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</div>
