<div
  fxLayout
  fxLayoutAlign="center"
  style="font-family: cursive; font-size: 30px; padding: 50px;"
>
  Pay Using
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
  fxHide.lt-md
>
  <div fxLayout fxLayoutGap="100px">
    <div style="cursor: pointer;" (click)="oncard()">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <img matCardImage src="assets/card.png" />
        <mat-card-content>
          Pay Using Card
        </mat-card-content>
      </mat-card>
    </div>
    <div style="cursor: pointer;" (click)="upi()">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <img matCardImage src="assets/upi.png" />
        <mat-card-content>
          Pay Using UPI
        </mat-card-content>
      </mat-card>
    </div>
    <div style="cursor: pointer;" (click)="net()">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <img matCardImage src="assets/net.png" />
        <mat-card-content>
          Pay Netbanking
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="start" fxLayoutGap="100px">
    <div style="cursor: pointer;" (click)="upi()">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <img matCardImage src="assets/google.png" />
        <mat-card-content>
          Pay Google Pay
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!--Mobile version-->
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
  fxHide.gt-md
>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="100px">
    <div style="cursor: pointer;" (click)="oncard()">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <img matCardImage src="assets/card.png" />
        <mat-card-content>
          Pay Using Card
        </mat-card-content>
      </mat-card>
    </div>
    <div style="cursor: pointer;" (click)="upi()">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <img matCardImage src="assets/upi.png" />
        <mat-card-content>
          Pay Using UPI
        </mat-card-content>
      </mat-card>
    </div>
    <div style="cursor: pointer;" (click)="net()">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <img matCardImage src="assets/net.png" />
        <mat-card-content>
          Pay Netbanking
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="start" fxLayoutGap="100px">
    <div style="cursor: pointer;" (click)="upi()">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <img matCardImage src="assets/google.png" />
        <mat-card-content>
          Pay Google Pay
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
